:root{
  /* Vordefinierte Farbcodes */
  --dark_blue: #2D3250;
  --blue: #424769;
  --light_blue: #676C8F;
  --orange: #FFB17A;
  --white: #ffffff;

  /* Vordefinierte URLs */
  --background_img: url('../src/example_background.jpg');
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Default Textfeld-Design entfernen */
.login_form input[type="text"],
.login_form input[type="email"],
.login_form input[type="password"],
.login_form textarea { 
  border: none;
  padding: 4px;
  outline: none;
  background: none;
  color: var(--white);
}

.login_form textarea:active .single_input_field_box { 
  border-left: var(--orange);
}

p, a {
  color: var(--white);
  /* Text wird standartmäßig in schwarz angezeigt => wechsel zu hellgrau */
  /* Link wird standartmäßig in blau angezeigt => wechsel zu hellgrau */
}

.container {
  display: flex;
  height: 100%;
}

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: var(--dark_blue);
}

.right {
  background-image: var(--background_img);
  background-size: cover;
  background-position: center;
}

.left-content, .right-content {
  padding: 20px;
}

/* Tabs oben ausrichten */
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px; /* Abstand zwischen den Tabs und dem Content */
}

/* Hover-Animation, wenn man über den nicht aktiven Tab hovert
   Leichtere Mölgichkeit ohne Animation

.tab a:hover {
  border-bottom: 3px solid rgba(255, 166, 0, 0.265); // Tab bekommt eine orangene Linie, wenn aktiv 
} */

/* Tab-Links standard-Designs überschreiben*/
.tab a{
  text-decoration: none; /* Unterstrich vom Link entfernen */
  padding-bottom: 2px;
}

/* Hover-Animation, wenn man über den nicht aktiven Tab hovert */
.tab a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: 3px;
  background-color: rgba(255, 166, 0, 0.265);
  transition: width 0.3s ease;
}

.tab a:hover::after {
  width: 100%;
}

/* Allgemeiner CSS-Stil für Tab-Links */
.tab-links {
  padding: 10px 20px; /* Innerer Abstand um den Text */
  cursor: pointer; /* Cursor wird beim Hovern angezeigt */
  margin-right: 5px; /* Kleiner Abstand zwischen den Tabs */
}

/* Stil für den aktiven Tab-Link 
.tab-links.active {
  border-bottom: 3px solid orange; // Tab bekommt eine orangene Linie, wenn aktiv 
} */

/* Stil für den aktiven Tab-Link */
.tab-links.active::after {
  width: 100%;
  background-color: rgb(255, 166, 0);
}

/* Input fields */ 
.single_input_field_box {
  background-color: var(--blue);

}

.single_input_field_box p {
  color: var(--light_blue)
}

.single_input_field_box input{
  background-color: none !important;
}

.single_input_field_box input:active .single_input_field_box{
  border-left: var(--orange) 3px;
}
