:root {
    --background: #2d3250;
    --surface: #424769;
    --hint: #676c8f;
    --accent: #ffb17a;
    --text: #ffffff;
}

body {
    margin: 0;
    background-color: var(--background);
}

.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
}

.navbar .icon {
    font-size: 42px;
    padding: 32px;
    color: var(--accent);
    cursor: pointer;
}

.background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}
