:root {
    --background: #1e2c48;
    --accent: #ffc175;
}

body {
    margin: 0;
    background-color: var(--background);
}

.navbar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .icon {
    font-size: 42px;
    padding: 32px;
    color: var(--accent);
    cursor: pointer;
}
